/* Common */
.bg-reddish {
  background-color: #cf2e2e;
}

.text-reddish {
  color: #cf2e2e;
}
.btn-reddish {
  background-color: #cf2e2e;
  color: #fff;
}
.btn-reddish:hover {
  background-color: #eb3e3e;
  color: #fff;
}

.btn-outline-reddish {
  background-color: #fff;
  color: #cf2e2e !important;
}
.btn-outline-reddish:hover {
  background-color: #cf2e2e;
  color: #fff !important;
  border: 1px solid #fff;
}

.bg-greyish {
  background-color: #15151e;
  color: #fff;
}
.bg-green {
  background-color: green;
  color: #fff;
}
